._1LXrY4mis5PQt6cpXu_l_- {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Roboto, sans-serif;
}

._2uHri9VXpkAG5cm59f1hfx {
  background-color: #00bcd4;
  color: #fff;
  font-size: 24px;
  line-height: 64px;
  padding-left: 15px;
}

.ef9jF6t1NI-gtrPDziYva {
  flex-grow: 1;
  position: relative;
}

._3XfCWKsFaQ2WjwE-J7ap0K {
  background-color: #efefef;
  border-top: 1px solid #ddd;
  color: #555;
  padding: 10px;
  text-align: center;
}
.DhoQt7Z7ABgkkdiHb5Wzk {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
._3CMuHot-WTsLHjL9ZS6HOr {
  display: flex;
  flex-direction: column;
}

._3sPyKry5h55EJyzeASMnlQ {
  background-color: rgb(232, 232, 232);
  color: rgba(0, 0, 0, .40);
  font-size: 20px;
  line-height: 56px;
  padding-left: 15px;
  border-bottom: 1px solid #ddd;
}
.IRtmEtkjczveXrKDMQ5qF {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
